/* --------------------------------------------------------------- */

html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* border: 3px solid #333333; */
}

body {
    /* size: 21cm 29.7cm; */
    background-color: whitesmoke;
}

.block-elem {
    display: block;
}

.flex-elem {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------------- */

.main-header{
    background-color: #333333;
    color: white;
    padding: 5px;
}

.sub-header{
    background-color: #338078;
    color: white;
    padding: 5px;
    font-size: 110%;
}

.summary {
    padding: 1%
}

.section-header {
    display: inline-flex;   
    width: 100%;
    height: 35px;
    background-color: #333333;
    color: white;
    padding: 2.5px 7.5px 2.5px 7.5px;
    font-size: 110%;
    font-style: italic;
}


.data-card {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

/* .data-card-header {
    background-color: lightblue; 
    color: black; 
    padding: 5px; 
    border-radius: 5px
} */

.data-card-header {
    background-color: #338078; 
    color: white; 
    padding: 5px; 
    border-radius: 5px
}